<p id="notice"><%= notice %></p>

<h1>Meetings by Amazon Chime SDK</h1>

<p>
Meeting Request ID : <%= @meeting_request_id %><br>
Attendee Request ID : <%= @attendee_request_id %><br>
</p>

<p><%= link_to 'Create Meeting', meeting_resources_path, method: :post %></p>
<p><%= link_to("Back to Room", room_path(@room)) %></p>